<div class="container mt-4 pt-4">
  <div class="row">
    <strong><h1><%= @tours.length %></strong> HappyTour are Available</h1>
  <% @tours.each do |tour| %>
      <div class="card-specific mb-4 p-4 border border-primary border-2">
        <h2><%= tour.name %></h2>
        <p><%= tour.address %></p>
        <p><%= tour.price %></p>
        <p><%= tour.content %></p>
        <%= link_to '', tour_path(tour), class: 'card-link' %>
      </div>
    <% end %>
  </div>
</div>
