<div class="cover mb-4 d-flex align-items-center justify-content-center">
</div>
<div class="container mt-4 pt-4">
  <h1><%= @tour.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <div class="card-no-hover mb-4 p-4 border border-primary border-2">
        <h3>Starting at ¥<%= @tour.price %></h3>
        <p><%= @tour.address %></p>
        <p><%= @tour.content %></p>
      </div>
      <div class="card-no-hover mb-4 p-4 border border-primary border-2">
        <h3>About the Tour Guide</h3>
        <p>Brewer of <%= @tour.name %></p>
        <p>The owner loves to drink all day!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-no-hover mb-4 p-4 border border-primary border-2">
        <div class="d-flex justify-content-between mt-3">
          <h3>Request a Tour</h3>
        </div>
        <i>90 mins. per tour </i>
        <!-- date may require to be connected to db -->
        <div class="form-group mb-3">
        </div>
        <strong>
          <div class="d-flex justify-content-between mt-3">
          </div>
          <% if user_signed_in? %>
          <div class="d-flex justify-content-end mb-3">
            <h2><%= number_to_currency(@tour.price, {unit: '¥', precision: 0}) %></h2>
          </div>
            <%= simple_form_for [ @tour, @booking ] do |f| %>
              <%= f.input :schedule, collection: Booking::TIMESLOT, include_blank: false %>
              <%= f.input :participant, html5: true %>
              <% if @tour.user != current_user %>
                <%= f.submit class: "btn btn-primary w-100 rounded-8" %>
              <% end %>
            <% end %>
          <% else %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-primary w-100 rounded-8" %>
          <% end %>
        </div>
      </div>
      <%# <a href="#" class="btn btn-primary w-100 rounded-8">Checkout</a> %>
    </div>
  </div>
</div>
</div>
</div>
<!-- Trigger the modal with a button -->
